<footer id="footer">
    <h1>@Codeial.All Rights Reserved</h1>

    <ul>
        <li>
           <a href="/">HOME</a>
        </li>
        <li>
            <a href="/users/profile">PROFILE</a>
        </li>
    </ul>
</footer>